.basket{

    position: relative;
}
.basket .icon-box{
    font-size: 30px;
}
.basket .item-count{
    position: absolute;
    top: 0;
    right: -8px;
    width: 18px;
    color: white;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(9, 76, 76);

}
.sideBar{
  color: white;
    position: absolute;
    width: 700px;
    height:auto;
    top:0;
    left: -700px;
    background-color: rgba(68, 67, 67, 0.781);
    overflow: hidden;
    transition: all 0.4s;
    
}
.sideimg{
    width: 200px;
}
.close{
    display: block;
    text-align: right;
    margin:20px ;
    font-size: 30px;
}
.sidespan{
    margin-left: 100px;
}
.delete{
    margin-left: 80px;
    font-size: 25px;
    
}